{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/app.scss' %}">
{% endblock styles %}
{% extends 'base.html' %}
{% block headline %}My headline will go here{% endblock headline %}
{% block byline %}By me{% endblock byline %}
{% block pubdate %}
  <time datetime="2024-03-07" pubdate>March 7, 2024</time>
{% endblock pubdate %}
<!---keep the above blocks outside of the content blocks-->
{% block content %}
{% for obj in harvard_park_homicides %}
    {{obj.first_name}} {{ obj.last_name }}<br>
{% endfor %}
{% endblock %}





